@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue LT Std 65 Medium'), url(../HelveticaNeueLTStd-Md.otf) format('opentype');
}
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue LT Std 45 Light'), url(../helvetica-neue-lt-std-45-light.otf) format('opentype');
}
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue LT Std 75 Bold'), url(../HelveticaNeueLTStd-Bd.otf) format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-style: italic;
  font-weight: 400;
  src: local('Helvetica Neue LT Std Regular Italic'), url(../HelveticaNeueLTStd-MdIt.otf) format('opentype');
}
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-style: italic;
  font-weight: 700;
  src: local('Helvetica Neue LT Std Bold Italic'), url(../HelveticaNeueLTStd-BdIt.otf) format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue LT Std 55 Roman'), url(../HelveticaNeueLTStd-Roman.otf) format('opentype');
}
